<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/math">Math</a>
    <ul>
      <li><a href="/math/algebra">Algebra</a></li>
      <li><a href="/math/geometry">Geometry</a></li>
    </ul>
  </li>
    <li><a href="/history">History</a>
    <ul>
      <li><a href="/history/ancient">Ancient History</a></li>
      <li><a href="/history/modern">Modern History</a></li>
    </ul>
  </li>
    <li><a href="/science">Science</a>
    <ul>
      <li><a href="/science/physics">Physics</a></li>
      <li><a href="/science/biology">Biology</a></li>
    </ul>
  </li>
  </ul>
</nav>